<% provide(:title, @locale.description) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @locale.locale_id %> <%= @locale.description %>
      </h1>
    </section>
  </aside>
</div>