<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %></h1>
      <p>Offer Count: <%= @user.offers.count %></p>      
    </section>
  </aside> 
</div>