<div class="container">
  <div class="offerlistBlock">
    <div class="offerlistHeading">
	  <h4>
        <%= if @all == 1 then 'All Offers' else 'Latest Offers' end %>	
      </h4>
    </div>
    <div class="offerlistContainer">  	
    <ul class="thmbnails">
      <% @offers.each do |offers| %>
        <% pic = "offer_default.jpg" %>
        <!--<% pic = offers.images[0].photo.url unless offers.images[0].nil? %> -->		
        <% pic = offers.images[0].image_url unless offers.images[0].nil? %>	  
        <li>
          <div class="thmbnail">
		    <%= link_to image_tag(pic, alt: "Offers"), home_path(offers.id) %>
		    <div class="caption">
		  	  <%= link_to offers.heading, home_path(offers.id) %>
		    </div>
          </div>
        </li>
      <% end %> 
    </ul>
	</div>
  </div>
</div>
