<li>
  <span class="content"><%= offer.heading %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(offer.created_at) %> ago.
  </span>
  <% if current_user?(offer.user) %>
    <%= link_to "delete", offer, method:  :delete,
                                 confirm: "You sure?",
                                 title:   offer.heading %>
  <% end %>
</li>