<% provide(:title, 'All offers') %>
<h1>All offers</h1>

<%= will_paginate %>
<p><%= link_to "New Offer", new_offer_path %></p>

<table class="table table-hover">
  <thead>
    <th>Heading</th>
    <th>Owner</th>
    <th>Price</th>    
    <th>Active</th>
    <th>Created By</th>    
    <th>Created</th>    
    <th>Bullets</th>
    <th>Categories</th>    
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
  	<%= render @offers %>
  </tbody>	
</table>	

<%= will_paginate %>