<tr>
  <td><%= country.country_name %></td>
  <td class="tdMid"><%= country.default_locale_id %></td>
  <td class="tdMid"><%= link_to '', edit_country_path(country) , class: "icon-edit" %></td>
  <td class="tdMid"><%= link_to '', country, confirm: 'Are you sure?', method: :delete, class: "icon-remove" %></td>
</tr>