<% provide(:title, 'All Countries') %>

<%= render 'shared/admin_header', heading: 'All Countries', btn_txt: 'Add Country', path: new_country_path %>

<%= will_paginate %>

<table class="table table-hover">
  <thead>
    <th>Country</th>
    <th class="tdMid">Locale ID</th>
    <th class="tdMid">Edit</th>
    <th class="tdMid">Delete</th>
  </thead>
  <tbody>
  	<%= render @countries %>
  </tbody>	
</table>

<%= will_paginate %>
