<% provide(:title, @country.country_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @country.country_name %> <%= @country.default_locale_id %>
      </h1>
    </section>
  </aside>
</div>