<header class="navbar navbar-fixed-top container">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="span4">
          <%= link_to image_tag("offers_logo_beta.png", alt: "Google Offers"), root_path, id: "logo" %>	            
        </div>
        <div class="span8">
          <div class="btn-toolbar">       
            <div class="btn-group pull-right">        
              <%= link_to "Featured Offers", '#', class: "btn active" %>
              <%= link_to "All Offers", '#', class: "btn" %>
              <%= link_to "My Offers", '#', class: "btn" %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
