<header class="headerBlock container">
  <div class="headerContainer">
    <div class="navigate">
    <div class="logoContainer">
      <%= link_to image_tag("logo_header.gif", alt: "Logo"), root_path, id: "logo" %>	            	   
	</div>
      <ul>
        <li>
		  <%= if @all == 1 then link_to "Show Featured", home_path, class:"btn" else link_to "Show All", home_path(0), class:"btn" end %>
		</li>
      </ul>
    </div>
    <div class="clearfix"></div>	
  </div>
</header>
