<header class="headerBlock container">
  <div class="headerContainer">
    <div class="navigate">
    <div id="logo">
	  <h1>GoBirdOffers</h1>
	</div>
      <ul>
        <li>
		  <%= if @all == 1 then link_to "Show Featured", home_path else link_to "Show All", home_path(0) end %>
		</li>
      </ul>
    </div>
    <div class="clearfix"></div>	
  </div>
</header>
